
    <!-- <% if (din=="Friday"){ %>
        <h1 style="color:brown">Today is <%= din %> bro.</h1>
    <% }else{ %>
        <h1 style="color:blueviolet">Today is <%= din %> bro.</h1>
    <% } %> -->